{% extends "base.html" %}
{% load static %}

{% block titulo %}
Nueva Reserva - {{ negocio.nombre }}
{% endblock %}


{% block estilos %}
<link rel="stylesheet" href="{% static 'app_reservas/reservas.css' %}">
{% endblock %}



{% block contenido %}

<main class="container py-5">


<div class="mb-4">

<a href="{% url 'sitio_detalle' negocio.id %}" 
class="btn-volver text-decoration-none">

← VOLVER

</a>

</div>



<header class="mb-5">

<span class="text-accent text-uppercase fw-bold d-block mb-1">

Nueva reserva

</span>


<h1 class="display-4 fw-black text-dark">

Reserve su mesa en {{ negocio.nombre }}

</h1>


<p class="lead text-muted">

Complete sus datos. Le confirmaremos su reserva por correo electrónico.

</p>

</header>




{% if form.non_field_errors %}

<div class="alert alert-danger">

{{ form.non_field_errors }}

</div>

{% endif %}




<form method="post">

{% csrf_token %}



<div class="custom-container shadow-sm">



<!-- DATOS -->

<div class="mb-5">


<h2 class="form-section-title">

Datos Personales

</h2>



<div class="row g-3">


<div class="col-12">

<label class="form-label">
Nombre Completo
</label>

{{ form.nombre_cliente }}

{{ form.nombre_cliente.errors }}

</div>



<div class="col-md-6">

<label class="form-label">
Correo Electrónico
</label>


{{ form.email_cliente }}

{{ form.email_cliente.errors }}

</div>



<div class="col-md-6">

<label class="form-label">
Teléfono
</label>


{{ form.telefono_cliente }}

{{ form.telefono_cliente.errors }}

</div>



</div>

</div>





<!-- FECHA -->

<div class="mb-5">


<h2 class="form-section-title">

Fecha y Hora

</h2>



<div class="row g-3">


<div class="col-md-6">


<label class="form-label">

Fecha de la Reserva

</label>


{{ form.fecha }}


{{ form.fecha.errors }}


</div>



<div class="col-md-6">


<label class="form-label">

Cantidad de Comensales

</label>


{{ form.comensales }}


</div>


</div>





<div class="mt-4">


<label class="form-label">

Seleccione la Hora

</label>



<div id="listaHoras" class="d-flex flex-wrap gap-2">


{% for hora in horarios %}


<label class="btn btn-hora">


<input

type="radio"

name="hora_radio"

value="{{ hora }}"

onclick="seleccionarHora('{{ hora }}')"

required

>


{{ hora }}


</label>



{% endfor %}



</div>


<!-- ESTE ES EL QUE RECIBE DJANGO -->

<input

type="hidden"

name="hora"

id="horaSeleccionada"

>


{{ form.hora.errors }}



</div>


</div>





<!-- DETALLES -->


<div class="mb-4">


<h2 class="form-section-title">

Detalles Adicionales

</h2>



<label class="form-label">

Ocasión Especial

</label>


{{ form.ocasion }}




<label class="form-label mt-3">

Notas

</label>


{{ form.notas }}



</div>




<button

type="submit"

class="btn-confirmar-reserva w-100 mt-4"

>

Confirmar Reserva

</button>



</div>




<div id="contador" class="mt-3">

Tiempo restante: 05:00

</div>



</form>



</main>


{% endblock %}





{% block scripts %}


<script>


let tiempo = 300;



let contador = setInterval(function(){



let minutos = Math.floor(tiempo / 60);


let segundos = tiempo % 60;



if(segundos < 10){

segundos="0"+segundos;

}



document.getElementById("contador").innerHTML =

"Tiempo restante: "

+ minutos +

":"

+ segundos;



tiempo--;



if(tiempo < 0){


clearInterval(contador);



window.location.href =

"{% url 'sitio_detalle' negocio.id %}";


}



},1000);







function seleccionarHora(hora){



document.getElementById(
"horaSeleccionada"
).value = hora;



bloquearHorario(hora);



}





function bloquearHorario(hora){



let fecha = document.querySelector(
'input[name="fecha"]'
).value;



if(fecha==""){


alert(
"Primero seleccione una fecha"
);


return;


}




fetch(
"/bloquear-mesa/",
{

method:"POST",


headers:{

"X-CSRFToken":
"{{ csrf_token }}"

},


body:new URLSearchParams({

hora:hora,

fecha:fecha,

negocio:"{{ negocio.id }}"

})


})



.then(res=>res.json())



.then(data=>{


if(data.estado=="ocupada"){


alert(
"Este horario ya está ocupado"
);


location.reload();


}



});



}






document.querySelector(
'input[name="fecha"]'
)
.addEventListener(
"change",
cargarHorarios
);





function cargarHorarios(){


let fecha =
document.querySelector(
'input[name="fecha"]'
).value;



if(!fecha){

return;

}




fetch(

"/horarios-disponibles/?negocio={{ negocio.id }}&fecha="+fecha

)



.then(res=>res.json())



.then(data=>{


let div=document.getElementById(
"listaHoras"
);



div.innerHTML="";



data.horarios.forEach(function(hora){



div.innerHTML += `


<label class="btn btn-hora">


<input

type="radio"

name="hora_radio"

value="${hora}"

onclick="seleccionarHora('${hora}')"


required

>


${hora}


</label>


`;


});



});



}




</script>


{% endblock %}